
    <nav class="navbar navbar-light bg-primary"> <!--navbar = transforma tag em navbar-->
      <!--navbar-brand = alinha a esq.-->
      <a class="navbar-brand" href="/">
          <img src="/img/guia.png" width="180px" height="50px" alt="">
      </a>
  </nav>

  <!---<img src="" alt="" width="50px" height="50px">-->